body{
	font-family: 'Raleway', sans-serif;
}
html body div.container nav.level p.level-item.has-text-centered a.link.is-info{
	font-size: 16px;
	color: #3b3b3b;
	font-family: "Raleway";
	font-weight: 300;
}

.level{
	height: 100px;
}
.level-left{
	width: 30%;
}
.level-right{
	width: 30%;
}

.my-tile{
	background-color: #1f384b;
	height: 624px;
}
.tile .is-6{
	color: #fff;
}

/* CSS Styles for home page */
/*html body div.container div#cta1.column.is-12{
	background-color: #1f384b;
}*/
html body div.container div#cta1.column.is-12 div.columns{
	padding-top: 8%;
}
/*html body div.container div#cta1.column.is-12 div.columns div.column article{
	padding-top: 30%;
}*/
html body div.container div#cta1.column.is-12 div.columns div.column article p.subtitle{
	color: #fff;
	padding-bottom: 20px;
}

html body div.container div.tile.is-ancestor div.tile.is-parent article.tile.is-child.box.mybox{
	height: 165px;
	background-color: #f2f2f2;
	display: flex;
    /* text-align: center; */
    justify-content: center;
}
html body section.hero div.hero-body div.container{
	text-align: center;
}
html body section.hero div.hero-body div.container a.button{
	width: 169px;
	height: 33px;
	background-color: #1f384b;
	color: #fff;
	border-radius: 0;
}
html body div.container div.column.is-12 div.columns div.column article div.field.has-addons p.control input.input{
	border-radius: 0;
	height: 53px;
	box-shadow: 0 0 14px rgba(0,0,0,0.23);
	background-color: #ffffff;
	width: 260px;
}
html body div.container div.column.is-12 div.columns div.column article div.field.has-addons p.control button.button{
	border-radius: 0;
	border: none;
	height: 53px;
	background-color: #1f384b;
	width: 150px;
	color: #fff;
}
html body div.container div.tile.is-parent.is-12.mycta{
	padding: 60px;
    background-color: #eb3352;
    margin: 60px 0 60px 0;
}

html body div.container div.tile.is-parent.is-12.mycta div.tile.is-8 article.tile.is-child div.field.has-addons p.title.intext{
	color: #fff;
    font-size: 24px;
    font-weight: 300;
}
html body div.container div.column.is-12 div.columns div.column.is-7 article div.field.has-addons p.title.intext{
	margin-top: 1%;
}

/* CSS coding for home List View*/
html body section div div.columns div.column.is-2 div.content div.content form#filters p{
	padding: 10px;
	display: block;
    background-color: #ddd;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
html body section div div.columns div.column.is-2 div.content div.content form#filters p.filterspara{
	margin-bottom: 0;
}
html body section.section div.container div.columns div.column.is-10 div.columns.is-multiline div.column.is-one-third p.subtitle{
	margin-bottom: 0.8rem;
}
html body section.section div.container div.columns div.column.is-10 div.columns.is-multiline div.column.is-one-third p{
	margin-bottom: 10px;
}
html body section.section div.container div.columns div.column.is-10 div.columns.is-multiline div.column.is-one-third p span.myspan{
	    width: 60%;
    display: inline-block;
    text-align: left;
}

html body section.section div.container div.columns div.column.is-10 div.columns.is-multiline div.column.is-one-third a.button{
	border-radius: 0;
    width: 200px;
    border: 2px solid #eb3352;
    height: 31px;
    margin: 0 20px 0 0;
}

/* CSS styles for detail view page */
html body section.section div.container div.columns div.column.is-6 p a.mybutton.button{
	border-radius: 0;
    width: 40%;
    margin: 0 20px 0 0;
    height: 64px;
    background-color: #ffffff;
    border: 2px solid #1f384b;
}
html body section.section div.container div.columns div.column.is-6 a.button.buybutton{
    height: 64px;
    background-color: #eb3352;
    width: 70%;
    margin-right: 20px;
    border-radius: 0;
    color: #fff;	
}
html body section.section div.container div.columns div.column.is-6 img.wish{
	height: 64px;
}
html body footer.footer{
	margin-top: 100px;
	padding: 0;
}
#footer-background{
	margin-top: 20px;
	background-color: #f2f2f2;
}
#my-footer{
	font-size: 1.3rem;
	font-weight: bold;
	width: 80%;
	margin: 0 auto;
}

html body footer.footer div.content.has-text-centered p{
	padding: 40px;
	font-size: 16px;
	color: #3b3b3b;
	font-family: "Raleway";
	font-weight: 300;
}
/*
#lower-footer{
	height: 100px;
	color: #3b3b3b;
	font-size: 16px;
	font-weight: 300;
}*/

/* CSS styles for cart views