/* CSS styles for admin List View Page */
html body div.columns.is-gapless{
	min-height: 100vh;
}
html body div.columns div.columns.is-10{
	min-height: 100vh;
}
html body div.columns div.column.is-2.admin-sidebar{
	background-color: #1f384b;
}
html body div.columns.is-gapless div.column.is-2.admin-sidebar p.title{
	padding: 20px;
}
html body div.columns.is-gapless div.column.is-2.admin-sidebar aside.menu ul.menu-list{
	padding: 10px;
}
html body div.columns div.column.is-2.admin-sidebar aside.menu p.menu-label{
	padding-left: 20px;
	font-size: 14px;
	color: #888e93;
	font-family: "Raleway";
	font-weight: bold;
}
html body div.columns div.column.is-2.admin-sidebar aside.menu ul.menu-list li a.has-text-white{
	font-size: 16px;
	color: #ffffff;
	font-family: "Raleway";
}
html body div.columns div.column.is-2.admin-sidebar aside.menu ul.menu-list li a:hover{
	background-color: #162d3f;
}
html body div.columns div.column.is-10{
	background-color: #f2f2f2;
}
html body div.columns div.column.is-10 nav.level.admin-navbar{
	background-color: #fff;
	padding: 0 3%;
	height: 81px;
}
html body div.columns.is-gapless div.column.is-10 nav.level.admin-navbar div.level-left p.level-item.admin-navbar-item{
	font-size: 18px;
	color: #3b3b3b;
	font-family: "Raleway";
	font-weight: bold;
}
html body div.columns.is-gapless div.column.is-10 nav.level.admin-navbar div.level-right p.level-item.admin-navbar-item{
	font-size: 18px;
	color: #3b3b3b;
	font-family: "Raleway";
	font-weight: bold;
}
html body div.columns.is-gapless div.column.is-10 section nav.level.content-navbar div.level-left p.level-item{
	font-size: 18px;
	color: #000000;
	font-family: "Raleway";
	font-weight: bold;
}
html body div.columns.is-gapless div.column.is-10 section nav.level.content-navbar div.level-right p.level-item{
	font-size: 18px;
	color: #000000;
	font-family: "Raleway";
	font-weight: bold;
}
html body div.columns div.column.is-10 section{
	background-color: #fff;
	margin: 3%;
	padding: 2%;
}
html body div.columns div.column.is-10 section nav.level.content-navbar{
	height: 40px;
}
html body div div section div.columns div.column.is-full div.columns{
	border-bottom: 1px solid #000;
}
html body div div section div div div.columns div.column.is-2{
	text-align: center;
}
html body div div section div div div.columns div.column.admin-list{
	padding-top: 4%;
}
html body div div section div div div div nav div p.level-item a.button.admin-list-button{
	background-color: #1f384b;;
	border-radius: 0px;
    color: #fff;
    width: 100px;
    cursor: pointer;
    justify-content: center;
    padding-bottom: calc(.375em - 1px);
    padding-left: .75em;
    padding-right: .75em;
    padding-top: calc(.375em - 1px);
    text-align: center;
    white-space: nowrap;
}

/* CSS styles for particularly admin home page */
html body div.columns.is-gapless div.column.is-10 section{
	background-color: #fff;
	margin: 3%;
	padding: 2%;
}

/* CSS styles for admin login page*/
html body section.hero.is-fullheight div.hero-body div.container div.column.is-4.is-offset-4{
	background-color: #1f384b;
    padding: 30px;
    color: #fff;
}
html body section.hero.is-fullheight div.hero-body div.container div.column.is-4.is-offset-4 img{
	margin-bottom: 40px;
}
html body section.hero.is-fullheight div.hero-body div.container div.column.is-4.is-offset-4 form div.field div.control{
	margin-bottom: 40px;
}
html body section.hero.is-fullheight div.hero-body div.container div.column.is-4.is-offset-4 form div.field div.control input.input{
	border-radius: 0;
	margin-top: 10px;
}
html body section.hero.is-fullheight div.hero-body div.container div.column.is-4.is-offset-4 form button.button.is-block.is-fullwidth{
	border-radius: 0;
	height: 40px;
	box-shadow: 0 0 14px rgba(0,0,0,0.3);
	background-color: #eb3352;
	border: none;
	color: #fff;
}

