body{
	font-family: 'Raleway', sans-serif;
	box-sizing: border-box;
}
html body div.container nav.level p.level-item.has-text-centered a.link.is-info{
	font-size: 16px;
	color: #3b3b3b;
	font-family: "Raleway";
	font-weight: 300;
	text-transform: uppercase;
}

.level{
	height: 100px;
}
.level-left{
	width: 30%;
}
.level-right{
	width: 30%;
}

.my-tile{
	background-color: #1f384b;
	height: 624px;
}
.tile .is-6{
	color: #fff;
}

/* CSS Styles for home page */
/*html body div.container div#cta1.column.is-12{
	background-color: #1f384b;
}*/
html body div.container div#cta1.column.is-12 div.columns{
	padding-top: 6%;
    padding-bottom: 6%;
}
/*html body div.container div#cta1.column.is-12 div.columns div.column article{
	padding-top: 30%;
}*/
html body div.container div#cta1.column.is-12 div.columns div.column article p.subtitle{
	color: #fff;
	padding-bottom: 20px;
}

html body div.container div.tile.is-ancestor div.tile.is-parent div.tile.is-child.box.mybox{
	height: 165px;
	background-color: #f2f2f2;
	display: flex;
    /* text-align: center; */
    justify-content: center;
    border: 2px solid #f2f2f2;
}
html body div.container div.tile.is-ancestor div.tile.is-parent div.tile.is-child.box.mybox:hover{
	border: 2px solid #eb3352;
}
html body section.hero div.hero-body div.container{
	text-align: center;
}
html body section.hero div.hero-body div.container a.button{
	width: 169px;
	height: 33px;
	background-color: #1f384b;
	color: #fff;
	border-radius: 0;
}
html body section.hero div.hero-body div.container a.button:hover{
	background-color: #eb3352;
	color: #fff;
}
html body div.container div.column.is-12 div.columns div.column article div.field.has-addons p.control input.input{
	border-radius: 0;
	height: 53px;
	box-shadow: 0 0 14px rgba(0,0,0,0.23);
	background-color: #ffffff;
	width: 260px;
}
html body div.container div.column.is-12 div.columns div.column article div.field.has-addons p.control button.button{
	border-radius: 0;
	border: none;
	height: 53px;
	background-color: #1f384b;
	width: 150px;
	color: #fff;
}
html body div.container div.tile.is-parent.is-12.mycta{
	padding: 60px;
    background-color: #eb3352;
    margin: 60px 0 60px 0;
}

html body div.container div.tile.is-parent.is-12.mycta div.tile.is-8 article.tile.is-child div.field.has-addons p.title.intext{
	color: #fff;
    font-size: 24px;
    font-weight: 300;
}
html body div.container div.column.is-12 div.columns div.column.is-7 article div.field.has-addons p.title.intext{
	margin-top: 1%;
}

/* CSS coding for home List View*/
html body section div div.columns div.column.is-2 div.content div.content form#filters p{
	padding: 10px;
	display: block;
    background-color: #ddd;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
html body section div div.columns div.column.is-2 div.content div.content form#filters p.filterspara{
	margin-bottom: 0;
}
html body section.section div.container div.columns div.column.is-10 div.columns.is-multiline div.column.is-one-third p.subtitle{
	margin-bottom: 0.8rem;
}
html body section.section div.container div.columns div.column.is-10 div.columns.is-multiline div.column.is-one-third p{
	margin-bottom: 10px;
}
html body section.section div.container div.columns div.column.is-10 div.columns.is-multiline div.column.is-one-third p span.myspan{
	    width: 60%;
    display: inline-block;
    text-align: left;
}

html body section.section div.container div.columns div.column.is-10 div.columns.is-multiline div.column.is-one-third a.button{
	border-radius: 0;
    width: 200px;
    border: 2px solid #eb3352;
    height: 31px;
    margin: 0 20px 0 0;
}

/* CSS styles for detail view page */
html body section.section div.container div.columns div.column.is-6 p a.mybutton.button{
	border-radius: 0;
    width: 40%;
    margin: 0 20px 0 0;
    height: 64px;
    background-color: #ffffff;
    border: 2px solid #1f384b;
}
html body section.section div.container div.columns div.column.is-6 a.button.buybutton{
    height: 44px;
    background-color: #eb3352;
    width: 70%;
    margin-right: 20px;
    border-radius: 0;
    color: #fff;	
}
html body section.section div.container div.columns div.column.is-6 img.wish{
	height: 64px;
}

/* CSS styles for profile */
 #profile-sidebar ul li a{
	padding: 20px;
 }

 /* CSS styles for blog page */
html body div.container div.columns.is-multiple div.column.is-4.blog-box{
	margin: 30px 0;
}

#profile-sidebar ul li a{
	border-bottom: 3px solid #fff;
}

#profile-sidebar ul li a:hover{
	background-color: #ddd;
	border-bottom: 3px solid #ff2b56;
 }

html body footer.footer{
	margin-top: 100px;
	padding: 0;
}
#footer-background{
	margin-top: 20px;
	background-color: #f2f2f2;
}
#my-footer{
	font-size: 1.3rem;
	font-weight: bold;
	width: 80%;
	margin: 0 auto;
}

html body footer.footer div.content.has-text-centered p{
	padding: 20px;
	font-size: 16px;
	color: #3b3b3b;
	font-family: "Raleway";
	font-weight: 300;
}
/*
#lower-footer{
	height: 100px;
	color: #3b3b3b;
	font-size: 16px;
	font-weight: 300;
}*/

/* CSS styles for cart views

/* Top Nav */
[v-cloak] {
	display: none;
}
.level-item.has-hoverbox {
	position: relative;
}

.level-item .hoverbox {
    width: 275px;
    position: absolute;
    top: 40px;
    padding: 15px 10px;
	box-shadow: 0px 7px 12px #ccc;
	background: #fff;
	z-index: 222;
}

.level-item .hoverbox.link a {
	border: 1px solid #eb3352;
	display: inline-block;
	color: #000;
	width: 45%;
    text-align: center;
    margin: 0px 2%;
}


.level-item.is-active, .level-item{
	border-bottom: 3px solid #fff;
}
.level-item.is-active, .level-item:hover {
    border-bottom: 3px solid #eb3352;
}

/*Top Search */
.suggestions li {
	padding: 5px 0;
}

.suggestions li a {
	color: #000;
}

/* flash-message */
.flash-message {
	position: fixed;
	top: 72px;
	right: 48px;
	z-index: 5555;
}

html body #app section{
	height: 100vh;
}

html body #app section div.container div.columns div.column.is-8.is-offset-2 div#login-form.card{
	background-color: #fff;
    padding: 30px;
	color: #fff;
	box-shadow: 0 0 10px #ccc;
}
html body #app section div.container div.columns div.column.is-8.is-offset-2 div#login-form.card .card-header-title{
	text-align: center;
	display: inline;
}
html body #app section div.container div.columns div.column.is-8.is-offset-2 #user-login-form, #user-register-form{
    padding: 30px;
    width: 60%;
    margin: 0 auto;
    border-radius: 0;
    background: #FFFFFF;
    box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.20);
    color: #3B3B3B;
}

.login-header, .register-header{
	margin: 0 auto;
    /* font-weight: 400; */
    padding: 10px;
}
.login-card-header-title, .register-card-header-title{
	padding: .75em;
    color: #3B3B3B;
    font-weight: 400;
    font-size: 32px;
}

input.login-button {
    width: 100%;
    border: 0;
    border-radius: 0;
    background: #EB3352;
    height: 40px;
    color: #fff;
	text-transform: uppercase;
}

div.card-content form .field .user-login-button, .user-register-button{
	width: 100%;
    border: none;
    color: #fff;
    background: #EB3352;
    height: 40px;
    text-transform: uppercase;
    cursor: pointer;
}
div.card-content form .field .user-login-button:hover{
    box-shadow: 0 0 14px 0 rgba(0,0,0,0.23);
}
div.card-content form .field .user-register-button:hover{
    box-shadow: 0 0 14px 0 rgba(0,0,0,0.23);
}

@media screen and (min-width: 1088px){
	html body .container.is-fluid{
		margin-left: 40px;
		margin-right: 40px;
	}
	
}

.product-column.is-one-third {
	display: block;
	flex-basis: 0;
	flex-grow: 1;
	flex-shrink: 1;
	padding: .75rem;
}
/* main breakpoint */
@media (max-width: 768px) {
	.column .column-width-style{
		width: 100%;
	}
	.subscribe-title{
		margin: 0 auto;
		text-align: center;
	}
	.column .field.has-addons.justify-right{
		justify-content: center;
	}
	.column .subscribe-padding{
		padding: 20px;
	}
	#footer-background{
		height: auto;
	}
	#my-footer{
		margin: 0 auto;
		padding-top: 20px;
		padding-bottom: 20px;
	}
	footer #footer-background nav .has-text-centered{
		/* margin-bottom: 20px; */
		line-height: 2.6em;
	}
	footer #footer-background .level{
		height: auto;
	}
	.columns .product-column.is-one-third {
		display: inline-block;
		flex-basis: 0;
		flex-grow: 1;
		flex-shrink: 1;
		padding: .75rem;
		flex: none;
		width: 46%;
		margin: 5px;
	}
	.column a.button-special-home{
		margin: 0 auto;
	}
	.columns .product-column p.product-title{
		font-size: 1.25em;
	}
	.hero .big-margin-top{
		margin-top: 80px;
	}
	.column .featured-content{
		text-align:center;
		padding-top: 10%;
	}
	.logo-center{
		margin: 0 auto;
	}
	html body .container.is-fluid{
		margin-left: 6px;
		margin-top: 10px;
	}

	.has-text-centered{
		display: none !important;
	}
	.level {
		height: 75px;
	}
	.level-right {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 12px;
	}
	.level-item:not(:last-child) {
		margin-bottom: 0;
	}

	.container .is-ancestor .tile.is-parent{
		width: 49%;
		display: inline-block;
	}

	figure.image.is-3by1.mobile-resize {
		 transform: scale(1.8); 
	}
}




.container .is-ancestor .tile.is-parent{
	width: 49%;
}
.column a.button-special-home{
	padding-top: 10px;
    background: #fff;
    /* background: #FFFFFF; */
    width: 56%;
    display: block;
    height: 50px;
    text-align: center;
    /* vertical-align: middle; */
	text-transform: uppercase;
	font-weight: 600;
    font-size: 18px;
    color: #EB3352;
	letter-spacing: 2.15px;
}
.column a.button-special-home:hover{
	background: #EB3352;
	color: #FFF;
}
.product-column.is-one-third {
	display: inline-block;
	flex-basis: 0;
	flex-grow: 1;
	flex-shrink: 1;
	padding: .75rem;
	flex: none;
	width: 33.3333%;
}

.featured-content{
	padding-top: 30%;
}


@media screen and (min-width: 1472px){
	html body .container{
		max-width: 96%;
		width: 96%;
	}
}
@media screen and (min-width: 1280px){
	html body .container{
		max-width: 96%;
		width: 96%;
	}
}
@media screen and (min-width: 1088px){
	html body .container{
		max-width: 96%;
		width: 96%;
	}
}
html body .container{
	max-width: 96%;
}

.subscribe-style{
	width: 70%;
}

.big-margin-top{
	margin-top: 120px;
}
.container .tile{
	cursor: pointer;
}



input#subscribe-input{
	border-radius: 0;
    border: none;
    /* height: 45px; */
    /* background: #FFFFFF; */
    box-shadow: 0 0 14px 0 rgba(0,0,0,0.23);
}

a#subscribe-button{
	background: #1F384B;
    color: #fff;
    border: none;
    border-radius: 0;
    box-shadow: 0 0 14px 0 rgba(0,0,0,0.23);
    text-transform: uppercase;
    padding-left: 1em;
	padding-right: 1em;
	width: 70%;
	display: block;
}
a#subscribe-button:hover{
	box-shadow: none;
}
.column-width-style{
	width: 60%;
    margin: 0 auto;
	padding: 15px;
	cursor: pointer;
}
.hover-style:hover{
	box-shadow: 0px 0px 14px 0px rgba(0,0,0,0.20);
}

.product-title{
	font-weight: 600;
    font-size: 1.75em;
    margin-top: 5px;
    line-height: 1.25em;
    word-break: break-word;
    color: #363636;
    margin-bottom: 1.2rem;
}


a.link.footer-link{
	font-size: 16px;
	color: #3B3B3B;
	border-bottom: 3px solid #f2f2f2;
}
a.link.footer-link:hover{
	border-bottom: 3px solid #eb3352;
}

.field.has-addons.justify-right{
	justify-content: flex-end;
}
.subscribe-padding{
	padding: 40px;
}
.control input.input{
	border-radius: 0;
}

#sticky-nav{
	position: fixed;
	width: 100%;
	/* left: 0; */
	margin-left: 0;
	display: block;
	/* margin-bottom: 50px; */
	background: #fff;
	z-index: 999;
}
#special-div{
	min-height: 75vh;
}


a.button.font-thick {
    font-weight: 800;
}

#product .hover-style{
	padding: 20px;
}

html body section.section div.container div.columns div.column.is-10 div.columns.is-multiline div.column.is-one-third p.extra-list-margin {
    margin-bottom: 20px;
}

html body section.section div.container div.columns div.column.is-10 div.columns.is-multiline div.column.is-one-third a.button:hover{
	background: #eb3352;
	color: #fff;
}
.wishlist-hover img:hover{
		box-shadow: 0 0 14px 0 rgba(0,0,0,0.23);
}

p.filter-back {
    background: #F2F2F2;
    height: 38px;
    vertical-align: middle;
    padding-left: 20px;
    padding-top: 7px;
    font-weight: 600;
}

#product p span a{
	border-bottom: 2px solid #000;
}

.detail-content-width{
	width: 95%;
	margin: 0 auto;
}


.container .tabs li.is-active a{
	font-weight: 600;
	color: #Eb3352;
}

.container .tabs li.is-active a {
	border-bottom: 3px solid #EB3352;
}

html body .pagination-link:focus, .pagination-next:focus, .pagination-previous:focus{
	border-color: #eb3352;
}

html body .pagination-link.is-current{
	background-color: #EB3352;
	border-color: #eb3352;
}

.cat-icons img {
	vertical-align: -70px;
}

/* Modal */

.rating {
	margin:0;
}

.rating li {
	list-style:none;
}

.rating .hide {
	display:none;
}

.rating input[type="radio"] {
	position:absolute;
	filter:alpha(opacity=0);
	-moz-opacity:0;
	-khtml-opacity:0;
	opacity:0;
	cursor:pointer;
	width:75px;
	height: 74px
}

.rating span {
	width:75px;
	height:74px;
	line-height:75px;
	padding:1px 75px 1px 0; /* 1px FireFox fix */
	background:url(/images/star-full.png) no-repeat;
	display: inline-block;
}

.rating input[type="radio"]:checked + span {
	background:url(/images/star-full.png) no-repeat;
}

.rating input[type="radio"]:checked + span ~ span {
	background:url(/images/star-empty.png) no-repeat;
}

.textarea {
	height: 200px;
}

/* Review */
.review {
	padding: 10px 40px;
	border-bottom: 1px solid #ccc;
}

.review h3 {
	margin-bottom: 5px;
}

.notification>.delete {
	top: 1.3rem;
}

.notification.is-success {
    background-color: #23d160;
    color: #fff;
    box-shadow: 0 5px 10px #999;
    /* border-radius: 0; */
    border: 1px solid green;
    /* background: #fff; */
}