<template>
    <div class="columns"  style="border-bottom: 2px solid #d2d2d2;padding-bottom: 20px;padding-top: 20px;margin-bottom: 10px">
        <div class="column is-2" style="border: 2px solid #d2d2d2">
            <img :src="image" alt="" />
        </div>
        <div class="column is-5">
            <p><b>{{ name }}</b></p>
            <p>{{ manufacturer }}</p>
            <p>{{ category }}</p>
            <p>
                <a v-on:click="changeQuantity(-1)" class="button" style="width: 31px;height: 31px;background-color: #ffffff;border: 2px solid #eb3352;border-radius: 0">-</a>
                <input :name="id" type="text" onChange="changePrice()" class="quantity" min="1" style="width: 59px;height: 31px;background-color: #ffffff;border: 2px solid #1f384b;border-radius: 0; text-align: center;" :value="changedQuantity" />
                <a v-on:click="changeQuantity(1)" class="button"  style="width: 31px;height: 31px;background-color: #ffffff;border: 2px solid #eb3352;border-radius: 0">+</a></p>
        </div>
        <div class="column is-5" style="text-align: right;">
            <p class="price">${{ price }}</p>
            <p><a :href="'/cart/remove/' + id">Remove</a></p>
        </div>
    </div>
</template>

<script>
export default {
    props: ['id', 'name', 'manufacturer', 'category', 'quantity', 'price', 'csrf', 'image'],
    data(){
        return {
            changedQuantity: this.quantity,
            totalPrice: 0.00,
        }
    },
    methods: {
      changeQuantity (increement) {
        if(increement == -1){
            if(this.changedQuantity != 1) {
                this.changedQuantity =  parseInt(this.changedQuantity) + parseInt(increement);
                this.$emit('changeinprice', -parseFloat(this.price));
            }
        }
        else {
            this.changedQuantity =  parseInt(this.changedQuantity) + parseInt(increement);
            this.$emit('changeinprice', parseFloat(this.price));
        }

        // Post /someUrl
        this.$http.post('/cart/quantity/', {product_id: this.id, increement: increement, _toekn: this.csrf }).then(response => {
            console.log(response.data);
            // get body data
        }, response => {
            // error callback
        });
      }
    },
    created: function() {
        this.totalPrice = parseFloat(this.changedQuantity) * parseFloat(this.price);
        this.$emit('totalprice', parseFloat(this.totalPrice));
    }
}
</script>