<template>
    <div class="flash-message">
        <div :class="'notification is-' + type">
            <a class="delete" href="#" v-on:click="$emit('message', '')"></a>
            {{message}}
        </div>
    </div>
</template>

<script>
export default {
    props: ['type', 'message'],
}
</script>