<template>
    <div>
		<!-- Option Field -->
        <div class="field">
		  <label class="label" :for="id">{{ name }}</label>
		  <div class="control">
		    <input class="input" :name="id" :id="id" type="text" :placeholder="name" />
		  </div>
		</div>
    </div>
</template>

<script>
export default {
    props: ['id', 'name']
}
</script>